<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/v1/">
      <img
        src="/public//svg/letter-t-svgrepo-com.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top ms-2"
      />
    </a>
    <% if (loggedIn) { %>
    <div class="d-flex">
      <a href="/api/v1/tasks" class="btn btn-outline-dark me-2">Create Task</a>
      <a onsubmit="handleLogout()" class="btn btn-outline-dark">Logout</a>
    </div>
    <% } %>
  </div>
</nav>

<script>
  function handleLogout() {
    fetch('/api/v1/logout', {
      method: 'POST',
    });
  }
</script>
