<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/v1/">
      <img
        src="/public//svg/letter-t-svgrepo-com.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top ms-2"
      />
    </a>
  </div>
</nav>
