<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/api/v1/">
			<img src="/public//svg/letter-t-svgrepo-com.svg" alt="Logo" width="30" height="24"
				class="d-inline-block align-text-top ms-2" />
		</a>
		<% if (loggedIn) { %>
			<div class="d-flex">
				<button onclick="openPopup()" class="btn btn-outline-dark me-2">
					Create Task
				</button>
				<button type="submit" onclick="handleSubmit()" class="btn btn-outline-dark" id="logoutButton">
					Logout
				</button>
			</div>
			<% } %>
	</div>
</nav>

<div class="modal" tabindex="-1" id="popup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="task-form-title">Create Task</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					onclick="closePopup()"></button>
			</div>
			<div class="modal-body">
				<form class="task-form" id="form-submit">
					<div class="mb-3">
						<label for="taskName" class="form-label">Task Name</label>
						<input type="text" maxlength="50" name="title" id="taskName" class="form-control" required />
					</div>
					<div class="mb-3">
						<label for="taskDescription" class="form-label">Task Description</label>
						<textarea name="description" maxlength="200" id="taskDescription" class="form-control" required></textarea>
					</div>
					<div class="mb-3">
						<label for="taskStatus" class="form-label">Task Status</label>
						<select name="status" id="taskStatus" class="form-control" required>
							<option value="backlog">Backlog</option>
							<option value="todo">Todo</option>
							<option value="pending">Pending</option>
							<option value="done">Done</option>
						</select>
					</div>
					<div class="modal-footer">
						<button id="delete-btn" onclick="deleteTask()" type="button" class="btn btn-danger" data-bs-dismiss="modal"
							hidden>
							Delete
						</button>
						<button type="submit" class="btn btn-primary" id="submit-button">Create</button>
						<button onclick="closePopup()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
					</div>
					<input type="hidden" name="id" value="" id="user-id" />
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function handleSubmit() {
		fetch('/api/v1/logout', {
			method: 'POST',
		}).then((res) => {
			window.location.href = '/api/v1';
		});
	}

	function openPopup() {
		const taskName = document.getElementById('taskName');
		const taskDescription = document.getElementById('taskDescription');
		const taskStatus = document.getElementById('taskStatus');
		const formSubmit = document.getElementById('form-submit');
		formSubmit.action = '/api/v1/tasks';
		formSubmit.method = 'post';

		taskName.value = '';
		taskDescription.value = '';

		const popup = document.getElementById('popup');
		popup.style.display = 'block';
		document.body.classList.add('popup-open');
	}

	function closePopup() {
		const popup = document.getElementById('popup');
		popup.style.display = 'none';
		document.body.classList.remove('popup-open');
	}
</script>