<div>
	<table style="width: max-content; margin: 10px auto; padding: 0 20%;">
		<th>
			<h1>
				Task Manager App
			</h1>
		</th>
		<tr>
			<td>
				<hr style="border:none;border-top:1px solid #eee" />
			</td>
		</tr>
		<tr>
			<td>
				<h3>Hi,
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<p>Your task has been updated.</p>
			</td>
		</tr>
		<tr>
			<td>
				<h2 style="background: #00466a;margin: 0 auto;padding: 0 10px;color: #fff;border-radius: 4px;">
					<%= data %>
				</h2>
			</td>
		</tr>
		<tr>
			<td>
				<h2
					style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
					<a href="http://localhost:3000/api/v1/tasks" style="text-decoration: none; color: white;">View Task</a>
				</h2>
			</td>
		</tr>
		<tr>
			<td>
				<p>Regards,<br />Task Manager</p>
			</td>
		</tr>
		<tr>
			<td>
				<hr style="border:none;border-top:1px solid #eee" />
			</td>
		</tr>
		<tr>
			<td>
				<div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
					<p>Task Manager App Inc</p>
					<p>Baneshwor, Kathmandu</p>
					<p>Nepal</p>
				</div>
			</td>

	</table>


</div>